.item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 5px 0.1px var(--color-gray);
  border-radius: 5px;
  transition: scale .25s ease-in-out;
}

.item:hover {
  scale: 1.1;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.true {
  composes: status;
  background-color: green;
}

.false {
  composes: status;
  background-color: red;
}

.name {
  font-size: 22px;
  font-weight: 600;
}
